<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Attack Made</title>
</head>
<body>
    <h1>
        <%= @Player1.name %> attacked <%= @Player2.name %>
        <%= @Player2.name %>: <%= @Player2.hit_points %> HPs
    </h1>
</body>
</html>
