<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Attack Made</title>
</head>
<body>
    <h1>
        <%= @Player1 %> attacked <%= @Player2 %>
    </h1>
</body>
</html>
