<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Battle of the century</title>
</head>
<body>

  <div style="width: 100%;">
        <div style="float:left; width: 50%">
          <p>
            <h1>
              <%= @Player1.name %>: Hit Points <%=@Player1.hit_points%>
            </h1>
            <div id="he_man"></div>
          </p>
        </div>
        <div style="float:right;">
          <p>
            <h1>
              <%= @Player2.name %>: Hit Points <%=@Player2.hit_points%>
            </h1>
            <div id="wonder_woman"></div>
          </p>
        </div>
  </div>

  <form action="/attack" >
    <button type="submit">Attack </button>
  </form>

</body>
</html>
