body {
background: red

}

h1 {
  text-align: center;
}

#he_man {
  background-image: url(/images/he-man2attack.jpg);
  position: bottom;
  width: 450px;
  min-height: 700px;
  border: 5px dashed red;
  margin: 0 auto;
}

#wonder_woman {
  background-image: url(/images/wonder_woman.png);
  position: top;
  width: 450px;
  min-height: 700px;
  border: 5px dashed red;
  margin: 0 auto;

}

#forms {
  text-align: center;
  margin-top: 20px;
}
